<script>
    window.messages = {
        'missingValue': {
            'checkbox': {{ 'validation_missing_value_checkbox'|__ }},
            'radio': {{ 'validation_missing_value_radio'|__ }},
            'select': {{ 'validation_missing_value_select'|__ }},
            'select-multiple': {{ 'validation_missing_value_select_multiple'|__ }},
            'default': {{ 'validation_missing_value_default'|__ }}
        },
        'patternMismatch': {
            'email': {{ 'validation_pattern_mismatch_email'|__ }},
            'url': {{ 'validation_pattern_mismatch_url'|__ }},
            'number': {{ 'validation_pattern_mismatch_number'|__ }},
            'color': {{ 'validation_pattern_mismatch_color'|__ }},
            'date': {{ 'validation_pattern_mismatch_date'|__ }},
            'time': {{ 'validation_pattern_mismatch_time'|__ }},
            'month': {{ 'validation_pattern_mismatch_month'|__ }},
            'default': {{ 'validation_pattern_mismatch_default'|__ }}
        },
        'outOfRange': {
            'over': {{ 'validation_out_of_range_over'|__ }},
            'under': {{ 'validation_out_of_range_under'|__ }}
        },
        'wrongLength': {
            'over': {{ 'validation_wrong_length_over'|__ }},
            'under': {{ 'validation_wrong_length_under'|__ }}
        }
    };
</script>
