{##}

<form class="mb-12 _required">
    <div class="flex flex-col space-y-4">
        {% partial 'input/input'
            sId = 'country'
            name = 'country'
            sLabelText = 'Country'
            required = 'required'
        %}
        {% partial 'input/input'
            sId = 'city'
            name = 'city'
            sLabelText = 'City'
            required = 'required'
        %}
        {% partial 'input/input'
            sId = 'zip-code'
            name = 'zip-code'
            sLabelText = 'Zip code'
            required = 'required'
        %}
        {% partial 'input/input'
            sId = 'postal-address'
            name = 'postal-address'
            sLabelText = 'Postal address'
            required = 'required'
        %}
        <input type="hidden" name="address_id" value="{{ obUserAddress.id }}">
    </div>
    {% partial 'button/button' 
        sType = 'submit'
        sPartialClasses = '_save-new-address mt-8 hidden lg:mt-10'
        sText = 'Add new address'
    %}
    {% partial 'button/button'
        sType = 'submit'
        sPartialClasses = '_change-address hidden mt-8 lg:mt-10'
        sText = 'Save address'
    %}
</form>
