{##}

{% set obReviewList = obProduct.review.active().sort() %}
{% set iReviewCount = 0 %}
{% set iRatingCount = 0 %}
{% for obReview in obReviewList %}
    {% if obReview.comment %}
        {% set iReviewCount = iReviewCount + 1 %}
    {% endif %}
    {% if obReview.rating %}
        {% set iRatingCount = iRatingCount + 1 %}
    {% endif %}
{% endfor %}

<h1 class="text-gray-900 text-xl md:text-3xl uppercase">{{ obProduct.name }}</h1>
<div class="_evaluation flex flex-row items-center space-x-4 mt-4 md:mt-3 text-gray-600 text-sm md:text-base">
    <div aria-hidden="true" class="flex flex-row items-center space-x-1">
        {% partial 'product-rating/product-rating-image' maxRating='5' rating=obProduct.rating unique_id='product' %}
    </div>
    <span>
        ({{ obProduct.rating }})
    </span>
    <span class="_rating underline cursor-pointer">
        {{ 'text_customers_voted'|transRaw({
            text_customers_voted_total: iRatingCount,
        }) }}
    </span>
    <span class="_review underline cursor-pointer">
        {{ iReviewCount }} reviews
    </span>
</div>
<div class="flex flex-row items-center space-x-4 mt-4 md:mt-7 mb-7">
    <span class="text-xl md:text-3xl">
        <span>€</span>74.56
    </span>
    <span class="text-gray-600 text-base md:text-3xl line-through md:no-underline">
        <span>€</span>113.99
    </span>
</div>

{#
<div>
    <p id="_customer-ratings">Rating Scroll</p>
    <p id="_customer-reviews">Review Scroll</p>
</div>
#}
