{##}

<div class="{{ sPartialClasses }}">
    <input
        class="text-blue-800 focus:border-blue-800 focus:outline-[3px] focus:outline-blue-800 focus:!shadow-none !ring-0 focus:!ring-0 focus:outline-offset-2 focus-visible:border-blue-800 focus-visible:outline-[3px] focus-visible:outline-blue-800 focus-visible:!shadow-none focus-visible:!ring-0 focus-visible:outline-offset-2 focus-within:border-blue-800 focus-within:outline-[3px] focus-within:outline-blue-800 focus-within:!shadow-none focus-within:!ring-0 focus-within:outline-offset-2 {{sInputClass}} {{sIndentsClass|default('border-gray-600 me-2.5')}}"
        type="checkbox"
        {% if sName %}
            name="{{ sName }}"
        {% endif %}
        {% if sId %}
            id="{{ sId }}"
        {% endif %}
        {% if sValue %}
            value="{{ sValue }}"
        {% endif %}
        {% if bIsRequired %}
            required
        {% endif %}
        {% if sChecked %}
            checked
        {% endif %}
        {% if sDisabled %}
            disabled
        {% endif %}
    > {# TODO: Fix focus-visible state for checkbox #}
    <label for="{{ sId }}" class="text-gray-600 {{sTextSize|default('text-sm md:text-base')}}">{{ sLabelText|raw}}</label>
</div>
