<footer class="bg-gray-100">
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 2xl:px-0 py-7 lg:pt-10 lg:pb-8 flex flex-col lg:flex-row">
    <div class="mb-6 lg:mb-0 pb-6 lg:pb-0 border-b lg:border-b-0 border-gray-300">
    </div>
    <div class="lg:pl-8 lg:ml-auto max-w-xs">
        <span class="p-4 bg-gray-200 inline-block max-h-14">
            <img src="{{ this.theme.logo_image|media }}" alt="{{ this.theme.logo_alt }}" title="{{ this.theme.logo_title }}" />
        </span>
        {% if this.theme.company_description_state %}
        <div class="mt-4 prose text-sm">
            <p>Online store of decor and household goods.</p>
        </div>
        {% endif %}
        {% if (this.theme.company_phone or this.theme.company_mail or this.theme.company_address) is not empty %}
            <ul class="mt-4">
                {% if this.theme.company_phone is not empty %}
                    <li>
                        <a class="text-blue-800 underline hover:text-blue-700 hover:no-underline active:text-blue-900 visited:text-purple-800 focus:outline-blue" href="tel:{{ this.theme.company_phone|replace({'-': '', '(': '', ')': '', ' ': ''}) }}">{{ this.theme.company_phone }}</a>
                    </li>
                {% endif %}
                {% if this.theme.company_mail is not empty %}
                    <li class="mt-4 lg:mt-2">
                        <a class="text-blue-800 underline hover:text-blue-700 hover:no-underline active:text-blue-900 visited:text-purple-800 focus:outline-blue" href="mailto:{{ this.theme.company_mail }}">{{ this.theme.company_mail }}</a>
                    </li>
                {% endif %}
                {% if this.theme.company_address is not empty %}
                    <li class="mt-5 lg:mt-2">{{ this.theme.company_address }}</li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>
{% if this.theme.copyright is not empty %}
    <div class="bg-gray-200 text-gray-700 text-center p-2.5 text-xs md:text-sm">© {{ this.theme.copyright }}</div>
{% endif %}
{% if this.theme.shopaholic_copyright %}
    <div class="text-center text-gray-600 p-2.5 text-xs md:text">Powered by <a class="underline text-blue-800 hover:text-blue-700 hover:no-underline focus:outline-blue active:text-blue-900 visited:text-purple-800" href="#">Shopaholic</a> and the <a class="underline text-blue-800 hover:text-blue-700 hover:no-underline focus:outline-blue active:text-blue-900 visited:text-purple-800" href="#">Tailwind</a> theme.</div>
{% endif %}
</footer>
