title = "Catalog Item"
url = "/catalog/:category/:product"
layout = "main"
is_hidden = 0

[CategoryPage]
slug = "{{ :category }}"
slug_required = 0
smart_url_check = 1
has_wildcard = 0
skip_error = 1

[ProductPage]
slug = "{{ :product }}"
slug_required = 1
smart_url_check = 0
skip_error = 0

[ProductList]
sorting = "no"

[ProductData]
==
<?php
function onStart()
{
    //Get product and first offer item
    $obProductItem = $this->ProductPage->get();
    if (empty($obProductItem)) {
        return;
    }

    $arBreadcrumbs = [];
    if (!empty($obProductItem)) {
        $arBreadcrumbs[] = [
            'name'   => $obProductItem->name,
            'url'    => $obProductItem->getPageUrl(),
            'active' => true,
        ];
    }

    $obCurrentCategory = !empty($obProductItem) ? $obProductItem->category : $obActiveCategoryItem;

    while (!empty($obCurrentCategory) && $obCurrentCategory->isNotEmpty()) {
        $arBreadcrumbs[] = [
            'name'   => $obCurrentCategory->name,
            'url' => \Cms\Classes\Page::url('product-list/product-list', 
            ['product-list' => false])
        ];

        $obCurrentCategory = $obCurrentCategory->parent;
    }

    $arBreadcrumbs[] = [
        'name' => $this->page->title, 
        'url' => \Cms\Classes\Page::url('product-list/product-list', 
        ['product-list' => true])
    ];

    $this['obProduct'] = $obProductItem;
    $this['arBreadcrumbs'] = array_reverse($arBreadcrumbs);
}

function onInit()
{
    $this['path_page_js'] = mix('assets/dist/js/product-item.js', 'themes/lovata-tailwind-shopaholic');
}
?>
==
{##}
{% set obProduct = ProductPage.get() %}

{% partial 'breadcrumbs/breadcrumbs' %} {# TODO: Fix wrong breadcrumbs #}
<div class="flex flex-col-reverse md:flex-row">
    <div class="md:w-min md:mr-14">
        {% partial 'product-gallery/product-gallery' arImages = obProduct.images %}

        {% if obProduct.description is not empty %}
            <div class="w-full flex flex-col mt-7 md:mt-11">
                {% partial 'product-description/product-description' sDescription=obProduct.description %}
            </div>
        {% endif %}
    </div>
    <div>
        {% partial 'product-item/product-info' %}
    </div>
</div>
<div class="flex flex-col">
    <div class="flex flex-col md:flex-row space-y-16 md:space-x-16 mt-10">
        <div class="flex flex-col">
            {% partial 'product-rating/product-rating' obProduct=obProduct %}
        </div>
    </div>
</div>

{% if this.theme.has_viewed_products %}
    {% partial 'product-list-small/product-list-small'
        sProductListSmallType = sProductListSmallTypeViewedProducts
        sSectionHeading = 'heading_product_list_small_recently_viewed'|_
        sSectionHeadingLevel = 2
        iTake = 4
        iShowIndex = 0
    %}
{% endif %}

{% if this.theme.has_related_products %}
    {% partial 'product-list-small/product-list-small'
        sProductListSmallType = sProductListSmallTypeRelatedProducts
        obProduct = obProduct
        sSectionHeading = 'heading_product_list_small_you_might_also_like'|_
        sSectionHeadingLevel = 2
        iTake = 4
        iShowIndex = 0
    %}
{% endif %}
