{##}

{% partial 'sorting/sorting-filter'
sActiveSorting=sActiveSorting
%}

{% partial 'tags/tags'
    sPartialClass = 'items-start mb-4 flex hidden'
    sPartialContainer = 'flex flex-wrap -mb-3 scrollbar-x-none overflow-x-scroll ms-4 w-10/12 2xl:w-11/12'
%}
{% partial 'sorting/sorting-ajax' %}

{% set arPaginationList = Pagination.get(iPage, obProductList.count()) %}

{% partial 'pagination/pagination'
    sPartialClasses = '_pagination mb-14'
    arPaginationList = arPaginationList
    iMaxPage = iMaxPage
    iPage = iPage
    sLinkClass = '_shopaholic-pagination'
%}
