{##}
<div class="_tags mb-4 {{sPartialClass}}">
    <div class="{{sPartialButton}}">
        <button class="_reset-all-tags underline hover:normal-case py-2 text-gray-600 hover:text-blue-700 hover:no-underline focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed focus-visible:outline-blue-800 active:no-underline active:text-blue-900">
            {{'filter_text_reset'|_}}
        </button>
    </div>
    <ul class="_tags-container {{sPartialContainer}}"></ul>
</div>


<template id="tag-template-container">
    <li data-name="">
        <button class="_delete-tag group whitespace-nowrap mr-2 mb-2 capitalize bg-white rounded shadow py-2 px-2 flex items-center justify-between text-gray-600 text-base lg:text-sm">
            <span></span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 ms-2 stroke-1 group-hover:stroke-2 group-hover:text-gray-900" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </button>
    </li>
</template>
