[staticMenu FooterMenu]
code = "navigation-footer"

==
{% set arMenuList = FooterMenu.menuItems %}
{% if arMenuList is not empty %}
    <nav>
        <ul class="grid grid-cols-2 sm:grid-cols-3 xl:grid-cols-4 gap-2 md:gap-20">
            {% for arItemMenu in arMenuList if not arItemMenu.viewBag.isHidden %}
                <li>
                    {% set htmlTag = arItemMenu.url is not empty ? 'a' : 'span' %}
                    {% set sUrl =  arItemMenu.url is not empty ? 'href='~ arItemMenu.url %}
                    {% set sExternal = (arItemMenu.viewBag.isExternal and arItemMenu.url is not empty) ? 'target=_blank' %}
                    {% set sCode =  arItemMenu.code is not empty ? 'data-code='~arItemMenu.code %}
                    {% set interactiveClass = arItemMenu.url is not empty ? 'underline hover:text-blue-700 hover:no-underline active:text-blue-900 visited:text-purple-800 focus-visible:outline-blue' : 'cursor-default' %}
                    <{{ htmlTag }} {{ sUrl }} {{ sExternal }} class="uppercase mb-5 md:mb-6 inline-block text-gray-900 text-xl {{ interactiveClass }} {{ arItemMenu.viewBag.cssClass }}" {{ sCode }}>{{ arItemMenu.title }}</{{ htmlTag }}>
                    {% set arSubItemMenuList = arItemMenu.items %}
                    {% if arSubItemMenuList is not empty %}
                        <ul>
                            {% for arSubItemMenu in arSubItemMenuList if not arSubItemMenu.viewBag.isHidden %}
                                <li class="mt-4 first:mt-0">
                                    {% set htmlTag = arSubItemMenu.url is not empty ? 'a' : 'span' %}
                                    {% set sUrl =  arSubItemMenu.url is not empty ? 'href='~ arSubItemMenu.url %}
                                    {% set sExternal = (arSubItemMenu.viewBag.isExternal and arSubItemMenu.url is not empty) ? 'target=_blank' %}
                                    {% set sCode =  arSubItemMenu.code is not empty ? 'data-code='~arSubItemMenu.code %}
                                    {% set interactiveClass = arSubItemMenu.url is not empty ? 'underline hover:text-blue-700 hover:no-underline active:text-blue-900 visited:text-purple-800 focus-visible:outline-blue ' : 'cursor-default' %}
                                    <{{ htmlTag }} {{ sUrl }} {{ sExternal }} class="text-gray-600 text-base {{ interactiveClass }} {{ arSubItemMenu.viewBag.cssClass }}" {{ sCode }}>{{ arSubItemMenu.title }}</{{ htmlTag }}>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}
